# Ignore all downloaded raw data
data/raw/*

# EXCEPT the lightweight population data (Bundle this with the repo)
!data/raw/px-x-0102020000_201.json

# Ignore old folders just in case
Import BFE*/
Import Swisstopo/
Import BFS Commune/

# Ignore all generated output files
data/processed/
*.rds
*.csv
.Rproj.user
.RData
.Rhistory
